/*common navommon nav styles */
.navigation-wrapper {
    height: 100px;
    background-color: #000000;
    color: #cbcbcb;
    /* Flexbox container */
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px
    }
    /* codepen styles */
    .navigation-wrapper > .center-column {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 42px;
        width: 270px;
    }
    
    .navigation-wrapper > .center-column > .banner-image {
        display: flex;
        justify-content: center;
    }
        
    .navigation-wrapper > .center-column > .banner-image img {
        width: 216px;
        height: 100%;
    }
    .links-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 50px;
        padding-right: 1462px;
        }

        .links-wrapper > .nav-link {
            width: 70px;
            text-align: center;
        }
    